.hero {
    position: relative;
    background-image: url(../img/GBO-img-hero-desktop.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    min-height: 100vh;
}

.hero-gbo{
        background-image: url(../img/vstanovlenya-gbo-bucha.webp);
}

/* mobile */
@media (max-width: 480px) {
    .hero {
        background-image: url(../img/GBO-img-hero-mob.webp);
    }
}

.hero-title{
    color: #f3f3f3;
    margin-top: 30vh;
    font-size: 32px;
}

.hero h2{
    font-size: 20px;
    margin-top: 5vh;
}

.hero-content{
    font-size: 22px;
    color: #f3f3f3;
}

.location-text{
    color: #f3f3f3;
    font-size: 24px;
}

.hero > .container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #f8f8f8;
}

.details-hero-btn {
    background: #f81a37;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 35px;
    border-radius: 25px;
    margin-top: 5vh;
    display: block;
    margin-right: auto;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(36, 167, 193, 0.5);
    animation: combinedEffect 2.5s infinite ease-in-out;
}

.details-hero-btn:hover,
.details-hero-btn:focus {
    background: #c6152c;
    box-shadow: 0 0 20px rgba(14, 99, 116, 0.8);
}

@keyframes combinedEffect {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 8px rgba(36, 167, 193, 0.5);
    }

    50% {
        transform: scale(1.02);
        box-shadow: 0 0 15px rgba(36, 167, 193, 0.8);
    }
}


.hero-location > div{
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.phones-column > div{
    display: flex;
    gap: 8px;
}

.hero-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-icon-container>div {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .hero-title {
        margin-top: 150px;
        font-size: 32px;
    }

    .hero-icon-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .hero-icon-container>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: 150px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .hero-icon-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0px;
        gap: 0;
    }

    .hero-icon-container>div {
        display: flex;
        grid-template-columns: unset;
        min-width: auto;
        padding: 0px;
    }

    .advantage-content {
        display: none;
    }

    .hero-title {
        margin-top: 20vh;
        font-size: 30px;
    }
        
    .hero-content {
        font-size: 20px;
    }

    .hero h2 {
        display: none;
    }
}