.hero {
    position: relative;
    background-image: url(../img/GBO-img-hero-desktop.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    min-height: 100vh;
}

/* mobile */
@media (max-width: 480px) {
    .hero {
        background-image: url(../img/GBO-img-hero-mob.webp);
    }
}

.hero-title{
    color: #f3f3f3;
    margin-top: 200px;
    font-size: 32px;
}

.hero h2{
    font-size: 20px;
}

.hero-content{
    font-size: 22px;
    color: #f3f3f3;
}

.location-text{
    color: #f3f3f3;
    font-size: 24px;
}

.hero > .container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #f8f8f8;
}

.details-hero-btn {
    background: #f81a37;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 35px;
    border-radius: 25px;
    margin-top: 16px;
    display: block;
    margin-right: auto;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(36, 167, 193, 0.5);
    animation: combinedEffect 2.5s infinite ease-in-out;
}

.details-hero-btn:hover,
.details-hero-btn:focus {
    background: #c6152c;
    box-shadow: 0 0 20px rgba(14, 99, 116, 0.8);
}

@keyframes combinedEffect {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 8px rgba(36, 167, 193, 0.5);
    }

    50% {
        transform: scale(1.02);
        box-shadow: 0 0 15px rgba(36, 167, 193, 0.8);
    }
}


.hero-location > div{
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.phones-column > div{
    display: flex;
    gap: 8px;
}

.hero-icon-container{
    display: flex;
    justify-content: space-between;
}

.hero-icon-container > div{
    display: flex;
    align-items: center;
    gap: 18px;
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 680px){
    .hero-icon-container p{
        display: none;
    }

    .hero-title {
        margin-top: 150px;
        font-size: 32px;
    }
}

@media only screen and (max-width: 440px) {
    .hero-title {
        margin-top: 100px;
        font-size: 26px;
    }

    .hero-content {
       font-size: 20px;
    }

    .hero-icon-container{
        max-width: 380px;
    }
}

