.otzivy, .brend{
    position: relative;
    background-image: url(../img/backgraund.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.otzivy-title, .brend-title{
    color: #f3f3f3;
    margin-bottom: 50px;
}

       
.reviews-container {
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}
        
.review-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    display: flex;
}
        
.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
        
.client-info {
    width: 30%;
    padding-right: 10px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
        
.review-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
        
.client-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #3498db;
    box-shadow: 0 4px 10px rgba(52, 152, 219, 0.3);
}
        
.client-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #121212;
    text-align: center;
}
        
.review-date {
    font-size: 10px;
    color: #121212;
    margin-bottom: 12px;
    text-align: center;
}
        
.review-text {
    color: #121212;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
}
        
        @media (max-width: 1050px) {
            .reviews-container{
                flex-wrap: wrap;
            }
        }
        
        @media (max-width: 440px) {
            .review-card {
                flex: 0 0 100%;
                flex-direction: column;
                height: auto;
                
            }
            
            .client-info, .review-content {
                width: 100%;
                padding: 0;
                border: none;
            }
            
            .client-info {
                margin-bottom: 20px;
            }
            
            .reviews-container {
                gap: 20px;
                flex-direction: column;
            }

            .otzivy-title{
                font-size: 36px;
            }
        }